# Management Half Year Report

In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt 
import src.io_utils as io
from src.ecommerce import EcommerceAnalyzer 
import src.metrics as M
import src.viz as V

In [2]:
df = io.df
df_clean = EcommerceAnalyzer(df).clean_df()
df_clean_month = EcommerceAnalyzer(df_clean).add_month()
df.head()

   order_id        date       city     category   price  units  revenue
0    100000  2024-04-19  Stockholm       Sports  530.95      4  2123.80
1    100001  2024-05-06      Malmö       Sports  653.28      3  1959.84
2    100002  2024-03-07    Uppsala     Clothing  177.98      4   711.92
3    100003  2024-04-08   Göteborg         Home  348.57      3  1045.71
4    100004  2024-01-18    Uppsala  Electronics  777.07      3  2331.21